
/* ============= HEADER ============== */ 
.header {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: -webkit-linear-gradient(rgb(240, 240, 240), rgb(230,230,230));
}

.header p{
	border-right: 1px solid darkgrey;
	text-align: center;
	width: 33%;
	float: left;
}

.header input{
	width: 90%; 
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left; 
}
.header button.m {
	width: 9%; 
	height: 30px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	float: left;
}

.header h1.m{
	margin-top: 15px;
	font-size: 36px; 
	font-family: 'Trebuchet MS', sans-serif;
}

.navbar{
	background:-webkit-linear-gradient(rgb(80, 90, 200), rgb(69,78,189));
	border-radius: 0px;
	border-width: 0px;

}

#navbar a{
	color:white;
	size: 16px;
	font-size: 16px
}

.navbar.navbar-inverse a{
	color:white;
}

#a-GOG{
	color: black;
	text-decoration: none;
}

.dropdown-menu {
	background: rgb(69,78,189);
}

@media (max-width: 978px) {
    .header input{
    	width: 100%;
    }
    .header button.m{
    	display: none;
    }
}

@media (max-width: 1280px) {
    .header h1.m{
    	font-size: 32px;
    }

    .header button.m{
    	font-size: 12px;
    }
}
/* 	========================================
	======================================== */ 


#datepicker{
	font-size: 10px;
}

/* Forme na stranici zakazivanje */
form {
	padding: 1% 5% 0px 1%;
	margin-bottom: 5%;
}





h2{
	color: #003399;
}

*{
	box-sizing: border-box;
}

p{
	text-align: justify;
	/*line-height: 40px;
	font-size: 20px;*/
}


.service {
	margin-left: 7%;
	margin-right: 7%;
	margin-bottom: 15px;
	padding: 5px;
	text-align: center;
	border: 1px darkgrey solid;
	border-radius: 2px
	/*border: 0.5px solid lightgrey;
    border-radius: 5px;
	padding: 5px;*/
}

.service_p {
	text-align: justify;
}

.service button{
	background: #f0ad4e	;
	margin-left: 0px;
	margin-bottom: 0px;
}
.service .list-group{
	margin-bottom: 0px;
}

.col-md-6{
	text-align: center;
	margin: auto;
}
.col-md-4{
	text-align:center;
}

.col-md-3{
	text-align: left;
	width: 75%;
	height:50%;
	float:left;
}
#goglogo{
	float:right;
	width:25%;
	height: 50%;
}

.btn{
	background-color: lightblue;
    border: none;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
#vizija{
	font-family: arial;
	font-style: italic;
}
#misija{
	font-family: arial;
	font-style: italic;
}

#tekstovi{
	padding-top: 50px;
	background:none;
	letter-spacing: 1px;
	font-style: italic;
	font-family: "arial";
}
#O-nama img{
	width:350px;
	height:350px;
	float: left;
	padding:20px 10px 5px 10px;
}
#O-nama p{
	padding:40px 10px 30px 10px;
	letter-spacing: 1px;
	font-style: italic;
	font-style:"arial";
}
#vizijaimisija p{
	background:none;
	font-style: italic;
	font-family: "arial";
	letter-spacing: 1px;
}

.div-Vesti{
	width: 1000px;
}

#info{
	position: relative;
	top:60px;
	right: 500px;
}

.info{
	font-size: 16px;
}

#GOG{
	position: relative;
	bottom: 50px;
	left: 75px;
}

#logo-GOG{
	position: relative;
	top: 10px;
	right: 10px;
}

#info-RVreme{
	position: relative;
	top: 20px;
	right: 293px;
}

#map{
	color: white;
	height: 400px;
	overflow: none;
}

.slider{
	width: 800px;
	height: 500px;
	overflow: hidden;
	margin: 30px auto;
	border-style: solid;
	border-radius: 25px;
	position: relative;
	left: 100px;
}

.slider img{
	width: 800px;
	height: 500px;
	display: none;
}

.zaposleni p{
	position: relative;
	left: 425px;
}

body{
	background-image: url("background.jpg");
	background-attachment: fixed;
	background-size: 100%;
}

footer{
	height: 100%;
	padding: 30px 0px;
	margin-top: 15px;
	background-color: rgb(69,78,189);
	color: white;
}

footer p{
	float: right;
	position: relative;
	right: 15px;
}