.header {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: -webkit-linear-gradient(rgb(240, 240, 240), rgb(230,230,230));
}

.footer{
	height: 50px;
	width: 100%;
	background-color: rgb(69,78,189);
	margin-top: 20px;
	color: white;
}

.footer p{
	float: right;
}

.navbar{
	background:-webkit-linear-gradient(rgb(80, 90, 200), rgb(69,78,189));
	border-radius: 0px;
	border-width: 0px;

}

#navbar a{
	color:white;
	size: 16px;
	font-size: 16px
}

.navbar.navbar-inverse a{
	color:white;
}

/* Forme na stranici zakazivanje */
form {
	padding: 1% 5% 0px 1%;
	margin-bottom: 5%;
}

.dropdown-menu {
	background: rgb(69,78,189);
}

#a-GOG{
	color: black;
	text-decoration: none;
}

.header p{
	border-right: 1px solid darkgrey;
	text-align: center;
	width: 33%;
	float: left;
	margin-top: 5px;
}

.header input{
	margin-top: 5px;
}
.header button{
	margin-top: 5px;
	margin-left: 5px
}

h1{
	font-size: 4em;
}

h2{
	color: #003399;
}

*{
	box-sizing: border-box;
}

p{
	text-align: justify;
	/*line-height: 40px;
	font-size: 20px;*/
}


.service {
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
	/*border: 0.5px solid lightgrey;
    border-radius: 5px;
	padding: 5px;*/
}

.service_p {
	text-align: justify;
}

@media (max-width: 978px) {
    .service {
      margin-top: 4%;
    }
}

.col-md-6{
	text-align: center;
	margin: auto;
}

.btn{
	background-color: lightblue;
    border: none;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

#O-nama{
	width: 1000px;
}

.div-Vesti{
	width: 1000px;
}

#info{
	position: relative;
	top:60px;
	right: 500px;
}

.info{
	font-size: 16px;
}

#GOG{
	position: relative;
	bottom: 50px;
	left: 75px;
}

#GOG-osoblje{
	
}

#logo-GOG{
	position: relative;
	top: 10px;
	right: 10px;
}

#info-RVreme{
	position: relative;
	top: 20px;
	right: 293px;
}

#map{
	color: white;
	height: 400px;
	overflow: none;
}

.slider{
	width: 800px;
	height: 500px;
	overflow: hidden;
	margin: 30px auto;
	border-style: solid;
	border-radius: 25px;
	position: relative;
	left: 100px;
}

.slider img{
	width: 800px;
	height: 500px;
	display: none;
}